* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif !important; }

a {
  text-decoration: none !important; }

.sp {
  padding: 5rem .5rem; }

/* HEADER */
#header {
  position: relative !important;
  height: 160vh; }
  @media screen and (max-width: 768px) {
    #header {
      height: 90vh; } }
  #header nav .navbar-brand {
    font-size: 1.4rem !important; }
  #header nav .btn-download {
    border-radius: 13px;
    transition: box-shadow .3s ease; }
    #header nav .btn-download:hover {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
  #header #hero {
    margin-top: 100px; }
    @media screen and (max-width: 768px) {
      #header #hero {
        margin-top: 150px; } }
    #header #hero .hero-heading {
      line-height: 1; }
      #header #hero .hero-heading div {
        font-weight: bold; }
  #header .img-wrapper img {
    position: absolute !important;
    bottom: 0; }
  @media screen and (max-width: 768px) {
    #header .img-wrapper {
      display: none !important; } }

/* End of HEADER */
/* Comments Section */
#comments h1 {
  font-weight: bold; }

/* End of Comments Section */
/* Welcome section */
#welcome h2 {
  font-weight: bold;
  font-size: 2.5rem !important; }
  @media screen and (max-width: 768px) {
    #welcome h2 {
      text-align: center !important; } }
#welcome p {
  font-size: 1.1rem !important; }
  @media screen and (max-width: 768px) {
    #welcome p {
      text-align: center !important; } }

/* End of Welcome section */
/* Understand section */
#understand .understand-heading div {
  font-weight: bold !important; }
@media screen and (max-width: 768px) {
  #understand .understand-heading {
    text-align: center; } }
@media screen and (max-width: 768px) {
  #understand p {
    text-align: center; } }

/* End of Understand section */
/* Situation Section */
#situation h1 {
  font-weight: bold !important; }
#situation .col-lg-3 img {
  height: 200px !important; }
#situation .col-lg-3 h4 {
  font-size: 1.3rem !important;
  font-weight: bold !important; }

/* End of Situation Section */
/* Connect Section */
@media screen and (max-width: 768px) {
  #connect p {
    text-align: center; } }
#connect h1 {
  font-weight: bold; }
  @media screen and (max-width: 768px) {
    #connect h1 {
      text-align: center; } }

/* End of Connect Section */
/* Nums Section */
#nums h1 {
  font-weight: bold; }

/* End of Nums Section */
/* Plan */
#plan h1 {
  font-weight: bold !important; }
#plan p {
  margin-bottom: 5.5rem; }
#plan .card {
  background: transparent !important;
  border: 2px solid #fff !important;
  border-radius: 8px !important; }
  #plan .card .card-title {
    position: relative; }
    #plan .card .card-title::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1px;
      width: 90%;
      background: rgba(255, 255, 255, 0.4); }
  #plan .card .card-footer {
    font-weight: bold !important;
    color: purple !important;
    cursor: pointer; }
#plan .card-warning .card {
  border: 2px solid #f9c953 !important;
  position: relative; }
  #plan .card-warning .card .popular {
    margin-top: -2px !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px !important; }
  #plan .card-warning .card .card-footer {
    color: #fff !important; }

/* End of Plan */
/* Team Section */
#team h1 {
  font-weight: bold; }
#team .content {
  margin-top: -35px; }

/* End of Team Section */
/* Download Section */
#download h1 {
  font-weight: bold !important;
  line-height: 1.3 !important; }
#download p {
  font-size: 1.5rem !important; }
  @media screen and (max-width: 768px) {
    #download p {
      margin-bottom: 1rem !important; } }
@media screen and (max-width: 768px) {
  #download .content-right {
    text-align: center !important; } }
@media screen and (max-width: 768px) {
  #download .content-right .content-right-img {
    justify-content: center !important; } }

/* End of Download Section */
/* Footer Section */
/* End of Footer Section */

/*# sourceMappingURL=main.css.map */
