@import "media-queries";

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lato', sans-serif !important;
}

a {
   text-decoration: none !important;
}

/* HEADER */
#header {
   position: relative !important;
   height: 160vh;

   @include screen {
      height: 90vh;
   }

   nav {
      .navbar-brand {
         font-size: 1.4rem !important;
      }

      .btn-download {
         border-radius: 13px;
         transition: box-shadow .3s ease;

         &:hover {
            box-shadow: 0 2px 2px rgba(0,0,0,.2);
         }
      }
   }

   #hero {
      margin-top: 100px;

      @include screen {
         margin-top: 150px;
      }

      .hero-heading {
         line-height: 1;

         div {
            font-weight: bold;
         }
      }
   }

   .img-wrapper {
      img {
         position: absolute !important;
         bottom: 0;
      }

      @include screen {
         display: none !important;
      }
   }
}
/* End of HEADER */

/* Comments Section */
#comments {

   h1 {
      font-weight: bold;
   }
}
/* End of Comments Section */

/* Welcome section */
#welcome {
   h2 {
      font-weight: bold;
      font-size: 2.5rem !important;

      @include screen {
         text-align: center !important;
      }
   }

   p {
      font-size: 1.1rem !important; 

      @include screen {
         text-align: center !important;
      }
   }
}
/* End of Welcome section */

/* Understand section */
#understand {
   .understand-heading {
      @include screen {
         text-align: center;
      }
   }

   p {
      @include screen {
         text-align: center;
      }
   }
}
/* End of Understand section */