@import "media-queries";

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lato', sans-serif !important;
}

a {
   text-decoration: none !important;
}

/* HEADER */
#header {
   position: relative !important;
   height: 160vh;

   @include screen {
      height: 90vh;
   }

   nav {
      .navbar-brand {
         font-size: 1.4rem !important;
      }

      .btn-download {
         border-radius: 13px;
         transition: box-shadow .3s ease;

         &:hover {
            box-shadow: 0 2px 2px rgba(0,0,0,.2);
         }
      }
   }

   #hero {
      margin-top: 100px;

      @include screen {
         margin-top: 150px;
      }

      .hero-heading {
         line-height: 1;

         div {
            font-weight: bold;
         }
      }
   }

   .img-wrapper {
      img {
         position: absolute !important;
         bottom: 0;
      }

      @include screen {
         display: none !important;
      }
   }
}
/* End of HEADER */

/* Comments Section */
#comments {

   h1 {
      font-weight: bold;
   }
}
/* End of Comments Section */

/* Welcome section */
#welcome {
   h2 {
      font-weight: bold;
      font-size: 2.5rem !important;

      @include screen {
         text-align: center !important;
      }
   }

   p {
      font-size: 1.1rem !important; 

      @include screen {
         text-align: center !important;
      }
   }
}
/* End of Welcome section */

/* Understand section */
#understand {
   .understand-heading {
      div {
         font-weight: bold !important;
      }

      @include screen {
         text-align: center;
      }
   }

   p {
      @include screen {
         text-align: center;
      }
   }
}
/* End of Understand section */
/* Situation Section */
#situation {
   h1 {
      font-weight: bold !important;
   }

   .col-lg-3 {
      img {
         height: 200px !important;
      }

      h4 {
         font-size: 1.3rem !important;
         font-weight: bold !important;
      }
   }
}
/* End of Situation Section */
/* Connect Section */
#connect {
   p {
      @include screen {
         text-align: center;
      }
   }

   h1 {

      font-weight: bold;

      @include screen {
         text-align: center;
      }
   }
}
/* End of Connect Section */
/* Nums Section */
#nums {
   h1 {
      font-weight: bold;
   }
}
/* End of Nums Section */
/* Plan */
#plan {

   h1 {
      font-weight: bold !important;
   }

   p {
      margin-bottom: 5.5rem;
   }

   .card {
      background: transparent !important;
      border: 2px solid #fff !important; 
      border-radius: 8px !important;

      .card-title {
         position: relative;

         &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 1px;
            width: 90%;
            background: rgba(255,255,255,.4);
         }
      }

      .card-footer {
         font-weight: bold !important;
         color: purple !important;
         cursor: pointer;
      }
   }

   .card-warning {
      .card {
         border: 2px solid yellow !important;

         .card-footer {
            color: #fff !important;
         }
      }
   }
}
/* End of Plan */